* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    transition: .3s;
  }
  
  /* Escondendo o Ckeckbox */
  #chk {
    display: none;
  }
  
  /* Cabeçalho */
  .cab {
    width: 100%;
    height: 100px;
    background-color: #4F4F4F;
    display: flex;
    justify-content: space-between;
  }
  .cab h1 {
    color: #fff;
    margin: 8px;
    padding: 8px;
    text-shadow: 1px 1px 1px #BF3EFF;
    width: 30%;
  }
  /* Botão para abrir o Menu */
  .btnMenu {
    color: #fff;
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 2em;
    cursor: pointer;
    padding: 8px;
  }
  .btnMenu:hover{
      color: #BF3EFF;
      transform: scale(1.2);
  }
  
  /* Botão de Fechar */
  .btnClose {
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5em;
    padding: 8px;
    margin: 8px;
  }
  .btnClose:hover {
    color: #BF3EFF;
    transform: scale(1.5);
  }
  
  /* Menu */
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: -25px;
    height: 100%;
    width: 0;
    background-color: #4F4F4F;
    z-index: 1;
  }
  .menu ul li{
    padding: 8px;
    margin: 8px;
  }
  .menu ul li a {
    color: #fff;
    font-size: 1.3em;
  }
  .menu ul li a:hover {
    color: #BF3EFF;
    margin-left: 5px;
  }

  /* Conteudo */
  .content {
    width: 100%;
    height: 515px;
    background: linear-gradient(342deg, rgba(60,40,82,1) 47%, rgba(52,9,73,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content div {
    padding: 8px;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.062);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #fff;
  }
  .content h1 {
    color: #fff;
    padding: 8px;
  }
  
  /* Ckeckbox checado */
  #chk:checked ~ .menu {
    width: 150px;
    right: 0;
  }
  
  /* Responsivo */
  @media (min-width: 576px) {
    .btnMenu , .btnClose {
      display: none;
    }
    .menu {
      width: 70%;
      position: static;
      right: 0;
      align-items:flex-end;
    }
    .menu ul {
      display: flex;
    }
  }
